.guide-container ul > li > img {
  max-height: 1200px;
}

.guide-page-title {
  text-align: center;
  padding: 15px 0;
}

.guide-title {
  text-align: center;  
}

.guide-preview {
  text-align: center;
}

.guide-preview img {
  
}

#mybook {
  margin: 0 auto;
}