.inspira-body {
  margin-top: 20px;
  
  p {
    margin: 10px 0px;
  }
}

.inspira-right {
  
}

.inspira-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin: 10px 0px;
}

.inspira-title-right {
  font-size: 1rem;
  font-weight: 700;
  margin: 20px 0px;
}

.sub-heading {
  font-weight: 700;
  text-align: center;
  font-size: 1.3rem;
  margin: 20px 0px;
}

ul.inspira-locations {
  list-style-type: none;
  
  li {
    font-size: 0.9rem;
  }
}

