@media (max-width: 480px) {
  .ads {
    text-align: center;
  } 

  .ads img {
    margin: 5px 0;
  }
  
  .contact-page.panel a {
    font-size: 1.2rem !important;
  }
  
  .credit {
    float: none;
  }

  footer {
    text-align: center;
  }

  .image-wrapper {
    margin: 5px 0;
  }
  
  .about-title h1 {
    font-size: 1.6rem;
  }
}

@media (min-width: 481px ) AND (max-width: 768px) {
  .bio-name h2 {
    font-size: 150%;
  }
  
  .bio-name h4 {
    font-size: 150%;
  }
}

@media only screen and (min-width: 40.0625em) {
  .image-wrapper {
    margin: 5px 0;
  }

  .top-bar-section li a {
   
  }
}

@media(max-width: 667px) and (orientation: landscape) {
  .image-wrapper {
    margin: 5px 0;
  }
}