.bio-content p {
  padding: 0px;
}

.bio-section {
  @include border-radius(5px);
  overflow: hidden;
  background-color: $primary-color;
  color: white;
  
  .bio-name {

    @include tablet {

    }

    @include desktop {

    }

    .bio-list {
      @include center-block();
      text-align: left;

      h3,
      h4 {
        color: white;
      }

        
    }

    h2,
    h3,
    h4,
    h5,
    p {
      color: white;
    }

    p {
      padding: 0 !important;
    }
  }
}

.bio-pic {
  text-align: center;
  
  img {
    @include vertical-align();
    max-height: 120px;
  }
}

.bio-title {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 35px;
}

.warmuth-name {
  font-size: 1.4rem;
  margin: 10px 0;
}