.bio-content p {
  margin-top: 15px;  
}

.bio-name {
  height: 140px;
  
  @include tablet {
    height: 200px;
  }
  
  @include desktop {
    height: 200px;
  }
  
  .bio-list {
    @include center-block();
    @include vertical-align(); 
    text-align: left;
  }
  
  h2,
  h3,
  h4,
  h5 {
    color: white;
  }
  
  p {
    padding: 0 !important;
  }
}

.bio-pic {
  text-align: center;
  height: 200px;
  
  img {
    @include vertical-align();
    max-height: 120px;
  }
}

.bio-section {
  @include border-radius(5px);
}

.bio-title {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 35px;
}