$primary-color: #333;
$secondary-color: #008CBA;
$light-blue: #A7D3D3;


$mobile-width: 375px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$tablet-width - 130px}) {
    @content;
  }  
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin links($link: '#008CBA',  $hover: '#e62c25', $active: 'lighten($hover, 10%)', $focus: $hover, $visited: $link) {
  &:link    { color: $link;    }
  @if $visited {
    &:visited { color: $visited; }
  } @else {
    &:visited { color: $link; }
  }
  &:hover   { color: $hover;   }
  &:active  { color: $active;  }
  &:focus   { color: $focus;   }
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

@import "main";
@import "home-page";
@import "about";
@import "contact";
@import "guide";
@import "mobile";
@import "goinggreen";
@import "nav";
@import "video";
@import "warmuth";
@import "inspira";
@import "drrhee";
@import "bidic";
@import "sweet-things";
@import "highland";
