$primary-color: #333;
$secondary-color: #008CBA;
$light-blue: #A7D3D3;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


@import "guide";
@import "mobile";
@import "goinggreen";
@import "nav";
@import "video";
@import "warmuth";
@import "inspira";


.divider {
  overflow: hidden;
  clear: both;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin: 30px 0;
}

.header-divider {
  overflow: hidden;
  clear: both;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  margin: 30px 0;
}

.size-12 { font-size: 12px; }
      
.size-14 { font-size: 14px; }

.size-16 { font-size: 16px; }

.size-18 { font-size: 18px; }

.size-21 { font-size: 21px; }

.size-24 { font-size: 24px; }

.size-36 { font-size: 36px; }

.size-48 { font-size: 48px; }

.size-60 { font-size: 60px; }

.size-72 { font-size: 72px; }


body {
  background: #fff url(../img/overlay.png) repeat;
}

.bold {
  font-weight: 700;
}

/* top section */
p.welcome {
  margin: 14px auto;
  font-family: Ariel;
  font-size: 1.4rem;
  padding: 5px;
  line-height: 1.5;
}

.welcome-section {
  -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, transparent), color-stop(0.5, grey), color-stop(0.5, grey), color-stop(1, transparent)) 0 100% 0 0;
}

/* home page content section */

.contact {
  width: 100%;
  background-color: $secondary-color;
  color: white;
  font-size: 1.3rem;
  padding: 5px;
  text-align: center;
}

.contact i {
  top: 3px;
  right: 2px;
  position: relative;
}

.contact-section {
  margin-top: -10px;
}

.guide-orbit > li > img{
  margin: 0 auto;  
}

.guide-preview {
  margin-top: 15px;  
}

.guide-preview a > img{
  max-height: 369px;  
}

.guide-container {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 90%;
}

.guide-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100vh;
}

.header-divider {
  overflow: hidden;
  clear: both;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
  margin: 30px 0;
}
.header.panel {
  margin: 3rem auto;
  border: 2px solid #444;
  background: $primary-color; 
  text-align: center;
}

.header.panel p {
  font: 1rem "Avenir Next";
  padding: 2rem 2rem 1rem 2rem;
  color: white;
}

.header-link {
  text-align: center;
  padding-top: 20px;
}

ul.header-list {
  list-style-type: none;
  padding-left: 2rem;
  margin-bottom: 15px !important;
  text-align: left;
}

ul.header-list li a {
  color: $secondary-color;
  font: 1rem "Avenir Next" !important;
  color: $secondary-color !important;
}

ul.header-list li a:hover {
  color: white !important;
}

ul.header-list li a:before {
  content:"-"; 
  position:relative; 
  left:-5px;
  text-decoration: none;
}


ul.header-list li { 
  margin-bottom: 5px; 
}

.header.panel a {
  font: 1.4rem "Avenir Next";
  color: $secondary-color;
  margin-top: 10px;
}

.header.panel p span {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 75%;
  font-weight: bold; 
}

.header.panel .sign {
  background: #fff;
  width: 150px;
  height: 2.4rem;
  border: 2px solid #444;
  position: relative;
  top: -2.5rem;
  margin: auto; 
}

.header.panel .sign h1 {
  text-transform: uppercase;
  font: bolder 0.875rem "Avenir Next";
  letter-spacing: 3px;
  color: #666;
  font-size: 70%;
  text-align: center;
  line-height: 2rem; 
}

.image-container {
  height: 350px;
  background-color: $primary-color;
  color: white;
}

.panel img {

}

.credit {
  float: right;
}

.ads {
margin-top: 30px;
}

hr.hrcontact {
  margin: 0;
}
/* image overlay */

.image-wrapper {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.04);
  overflow: hidden;
  position: relative;
  text-align: center;
  @include border-radius(4px); 
}

.image-content {
  width: 100%;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 0;
  letter-spacing: 0.15em;
  color: #f4f4f4;
  font-size: 24px; 
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out;
  opacity: 1;
  padding: 26px;
}

.overlay-fade-in:hover .image-content {
  opacity: 0; 
}

.image-overlay-content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;

}

.overlay-fade-in p {
  letter-spacing: 0.15em;
  color: #f4f4f4;
  font-size: 20px;
  opacity: 0;
  transition: all 0.2s linear;
  padding: 40px 8px 0px 8px; 
}

.overlay-fade-in img {
  transition: all 0.2s linear; 
}

.overlay-fade-in .image-overlay-content {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out; 
}

.overlay-fade-in h2 {
  color: #f2f2f2;
  font-size: 1.8rem;
  margin-top: 20%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.7); 
}

.overlay-fade-in .button {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #FFF;
  color: #222;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
  position: relative;
  border: 1px solid #999;
  opacity: 0;
  transition: all 0.2s ease-in-out; 
}

.overlay-fade-in .button:hover {
  box-shadow: 0 0 5px #000; 
}

.overlay-fade-in:hover img {
  transform: scale(1.2); 
}

.overlay-fade-in:hover .image-overlay-content {
  opacity: 1; 
}

.overlay-fade-in:hover h2, .overlay-fade-in p, .overlay-fade-in .button {
  opacity: 1; 
}

.overlay-fade-in:hover p {
  transition-delay: 0.1s; 
}

.overlay-fade-in:hover .button {
  transition-delay: 0.2s; 
}

/* video wrapper */

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-top: 10px;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* contact page */

.contact-page.panel a {
  font: 1.4rem "Avenir Next";
  color: #fff;
  margin-top: 10px;
}

.contact-page-divider {
  overflow: hidden;
  clear: both;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
  margin: 30px 0;
}
.contact-page.panel {
  margin: 3rem auto;
  border: 2px solid #444;
  background: $primary-color; 
  text-align: center;
}

.contact-page.panel p {
  font: 1.4rem "Avenir Next";
  padding: 1rem 2rem 1rem 2rem;
  color: white;
}

.contact-page-link {
  text-align: center;
  padding-top: 20px;
}

.contact-page.panel p span {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 75%;
  font-weight: bold; 
}

.contact-page.panel .sign {
  background: #fff;
  width: 150px;
  height: 2.4rem;
  border: 2px solid #444;
  position: relative;
  top: -2.5rem;
  margin: auto; 
}

.contact-page.panel .sign h1 {
  text-transform: uppercase;
  font: bolder 0.875rem "Avenir Next";
  letter-spacing: 3px;
  color: #666;
  font-size: 70%;
  text-align: center;
  line-height: 2rem; 
}

.contact-page-section {
  width: 100%;
  background-color: $secondary-color;
  color: white;
  font-size: 1.3rem;
  padding: 5px;
  text-align: center;
  @include border-radius(2px);
}

.contact-page-section i {
  top: 1px;
  right: 8px;
  position: relative;
}

.contact-section {
  margin-top: -10px;
}

p.phone {
  padding: 0.5rem 2rem !important;
  margin: 0;
}

/* About Page */

.about-title {
  text-align: center;
  margin: 30px 0 15px 0;
}

li.head {
  text-decoration: underline;
  font-weight: bold;
  list-style-type: none;
}